@import '../../styles/theme-variables.scss';

/*Header styles*/
.header {
  width: 100%;
  padding: 30px;
  z-index: 99;
  box-shadow: 8px 0 25px rgba(0, 0, 0, 0.05);
  @include themify($themes) {
    background: themed('headerFooterBackground');
  }
  
  .header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    .logo-section {
      height: 50px;
      text-decoration: none;
      display: flex;
      width: 430px;
      @include themify($themes) {
        color: themed('textColor');
      }
      font-weight: 600;
      text-transform: uppercase;
      img {
        width: 50px;
        height: 50px;
      }
      span {
        display: inline-block;
        font-size: 30px;
        margin: auto;
      }
    }
    .toggle-btn-section {
      margin: auto 0 auto auto;
      .toggle-checkbox {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        @include themify($themes) {
            color: themed('textColor');
          }
      }

     
    }
  }
}

/*Layout wrapper styles*/

.layout-wrapper {
  @include themify($themes) {
    background: themed('bodyBackgroundColor');
  }
}

td,th{
  @include themify($themes) {
    color: themed('textColor');
  }
}

.player-table-serch-lable{
  @include themify($themes) {
    color: themed('textColor');
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

/*Footer styles*/
.footer {
  width: 100%;
  z-index: 99;
  height: 78px;
  display: flex;
  @include themify($themes) {
    background: themed('headerFooterBackground');
    color: themed('textColor');
  }
  .footer-content {
    text-align: center;
    max-width: 1200px;
    margin: auto;
  }
}
