.player-tabel-footer{
    display:flex;
    margin: 1rem !important;
    justify-content: end; 
    text-align: center;
    
}
.player-search{
    margin: 1rem 0 1rem 0;
    display: flex;
}

div{
    font-size: 14px;
}